body{
    height: 100vh;
    margin: 0rem;
    overflow: hidden;
    display: grid;
    place-items: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.static-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.5rem;
}

.static-title > .letter-outer {
    transition: transform 200ms ease;
}

.static-title > .letter-outer > .letter-inner {
    display: inline-block;
}

.static-title:hover > .letter-outer > .letter-inner{
    margin: 30px 0;
    animation: wiggle .1s ease infinite;
}

.static-title:hover > .letter-outer:nth-child(1) {
    transform: translate(-100%, -40%) rotate(12deg);
}

.static-title:hover > .letter-outer:nth-child(2) {
    transform: translate(-30%, 40%) rotate(-23deg);
}

.static-title:hover > .letter-outer:nth-child(3) {
    transform: translate(70%, -60%) rotate(-45deg);
}

.static-title:hover > .letter-outer:nth-child(4) {
    transform: translate(-35%, -20%) rotate(-60deg);
}

.static-title:hover > .letter-outer:nth-child(5) {
    transform: translate(80%, -40%) rotate(35deg);
}

.static-title:hover > .letter-outer:nth-child(6) {
    transform: translate(20%, 60%) rotate(-8deg);
}

.static-title:hover > .letter-outer:nth-child(8) {
    transform: translate(-10%, 5%) rotate(70deg);
}

.static-title:hover > .letter-outer:nth-child(9) {
    transform: translate(50%, -40%) rotate(20deg);
}

.static-title:hover > .letter-outer:nth-child(10) {
    transform: translate(20%, 40%) rotate(-15deg);
}

.static-title:hover > .letter-outer:nth-child(11) {
    transform: translate(40%, -60%) rotate(12deg);
}

.static-title:hover > .letter-outer:nth-child(12) {
    transform: translate(50%, 45%) rotate(12deg);
}


/* Animations */
@keyframes wiggle {
    from, to {
      transform: translateY(0%)
    }
    
    50% {    
      transform: translateY(-5%)
    }
}
